
<html>
<head>
<title>d3 testing</title>
<style>

.background {
  fill: #eee;
}

line {
  stroke: #fff;
}

text.active {
  fill: red;
}

line.active {
  stroke: #ccc;
}

</style>
<script src="http://d3js.org/d3.v3.min.js"></script>

<script>
var rows = [];
{{range .Rows}}
rows.push("{{.Label}}");{{end}}
var columns = [];
{{range .Cols}}
columns.push("{{.Label}}");{{end}}

var cells = [];
{{range .Cells}}
cells.push({"row": {{.Row.Index}}, "col": {{.Col.Index}}, "value": {{.Cell.Value}}});{{end}}

var gridKey = "{{.GridKey}}";
</script>
</head>

<body>
<h2>{{.Grid.Title}}</h2>
<script src="/media/js/griddo.js"></script>

	<form action="/add_row/{{.GridKey}}" method="post">
  <input type="text" name="label" placeholder="row label"/><input type="submit" value="add row" />
	</form>
	<form action="/add_col/{{.GridKey}}" method="post">
  <input type="text" name="label" placeholder="column label"/><input type="submit" value="add column" />
	</form>
</body>
</html>

